

#user_list {
	margin-top:120px;
     width:765px;
}


#user_list #opt{
	
     width:80px;
}


#user_list thead {
   display: inline-block;
       width:765px;
    height: 20px;
	
}

#user_list tbody {
	margin-top:6px;
	display: inline-block;
       width:765px;
    height: 350px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}


#user_list thead, tbody { display: block; }


#opt_btn_view{
	float:right;
	padding:0px;
	margin-top:-10px;
	margin-bottom:5px;
	margin-right:5px;
}
#opt_btn_edit{

	float:right;
	padding:0px;
	margin-top:-10px;
	margin-bottom:5px;
	margin-right:5px;
}
#opt_btn_delete{

	float:right;
	padding:0px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}


#sub_navigation{
	margin-top:-100px;
	position:absolute;
	width: 750px;
	height:100px;
	
}


#search_btn{
	
	border-radius: 6px;
	padding:5px;
	text-align:center;	
	background:  #ccc;
	font-weight:bold;
}
#search_btn:hover{
	cursor: pointer;
	background:#777777;
	color:white;
}



#sub_navigation a{
	border: outset #dddddd;
	text-decoration:none;
	background: #ccc;
	display:block;
	width:100px;
	float:left;
	border-radius: 6px;
	text-align:center;
	margin: -45 5 0 5;
	float:right;
	padding:5px;
	font-weight:bold;
	color:black;
}
#sub_navigation a:hover{
	background:#777777;
	cursor: pointer;
	color:white;
}



